body {
    margin: 0;
    padding: 50px;
}

.field {
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 3px 3px 7px rgb(212, 208, 208);
    border-radius: 5px;
    width: 300px;
    padding: 20px;
}

.token {
    border: 1px solid red;
    text-align: justify;
}

.line {
    border-top: 3px solid black;
}

h4 {
    margin: 0;
    margin-top: 10px;
}

button {
    margin-right: 10px;
}